#carousel {
  max-width: 900px;
  position: relative;
}

#carousel-item-visible {
  display: block;
}

img {
  max-width: 900px;
  max-height: 900px;
  animation: trasitionEffect 1.5s;
}

#button {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: absolute;
  top: 50%;
}

#button-next {
  border: none;
  border-radius: 50%;
  background-color: antiquewhite;
  opacity: 0.8;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  cursor: pointer;
}

@keyframes trasitionEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
